{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Data of Birth</h1>

      <form class="form" action="/person-3-address" method="post">

        {{ govukInput({
        label: {
        text: "Your Data of Birth",
        classes: "govuk-label--l",
        isPageHeading: true
        },
        id: "person-dob",
        name: "person-dob",
        value: data['person-dob']
        }) }}
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
